<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5pMxNZhnNt8Wa_F4rH1wakLuBfOHdEPc</string>
	<key>GCM_SENDER_ID</key>
	<string>774568569244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onehunnit.fillbom</string>
	<key>PROJECT_ID</key>
	<string>fillbom</string>
	<key>STORAGE_BUCKET</key>
	<string>fillbom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774568569244:ios:c2de910e5108f01df94059</string>
</dict>
</plist>